<p style="color: green"><%= notice %></p>

<h1>Book Collection!!</h1>

<div id="books">
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= render book %>
        <p>
          <%= link_to "Show Book Details", book %>
          <%= link_to "Update Book", edit_book_path(book) %>
          <%= link_to "Delete Book", confirm_delete_book_path(book) %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Add New Book", new_book_path %>
